h4 span {
  border-bottom: 4px solid var(--black);
}
  
  #to-gather h4 {
    margin-top: 54px;
  }

  .dot {
    padding-right: 8px;
    border-bottom: none;
  }

  .intro-container {
    color: var(--black);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .arrow-link {
    text-decoration: none;
    font-size: 16px;
    font-family: josefin-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--black); 

    cursor: pointer;
    transition: .3s;
  
    background:
          linear-gradient(
            to bottom, var(--black) 0%,
            var(--black) 100%
          );
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 4px 2px;
        transition: background-size .2s;
  }

  .arrow-link:hover {
    background-size: 4px 50px;
    color: var(--grey);
  }
  
  /* .arrow-link .fas:hover {
    animation: back-arrow .9s infinite ease-out;
    transition: .3s;
  } */

  @keyframes back-arrow {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(20deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .prototype-link {
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    font-family: josefin-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;

    background:
        linear-gradient(
          to bottom, var(--black) 0%,
          var(--black) 100%
        );
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 4px 2px;
      transition: background-size .2s;
  }

  .prototype-link:hover {
    background-size: 4px 50px;
    color: var(--grey);
  }

 .intro-container p:nth-of-type(1) {
    font-family: abril-display, serif;
    font-weight: bold;
    font-style: normal;
  }

  .screens-container {
    display: flex;
    flex-wrap: wrap;
    margin: 64px 0;
    justify-content: space-between;
  }

  .screens-container img {
    box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.16);
  }

  .mobile-screens-container img {
    box-shadow: none;
  }

  /* -----------------ARLA ----------------*/
  
  #arlaplus h4 {
    margin-top: 64px;
  }

  .arla-info-container p {
    width: 660px;
  }

  .arla-info-container p:nth-child(2) {
    font-size: 24px;
  }

  #arlaplus .project-description-box {
    margin-top: 100px;
  }

  #arlaplus .project-description-box img {
    box-shadow: 4px 4px 24px 4px rgba(0,0,0,0.16);
  }

  /* -----------------SIAMOSTREET FOOTBALL ----------------*/
#siamostreet h4 {
  margin-top: 64px;
}

  .siamo-imgs {
    margin: 64px 0;
    box-shadow: 4px 4px 24px 4px rgba(0,0,0,0.16);
  }

  #siamostreet .project-description-box {
    margin: 24px 0 0 0;
  }


  @media (max-width: 480px) {
    #to-gather h2 {
      font-size: 20px;
    }

    .intro-container img {
      display: none;
    }

    .screens-container {
      justify-content: center;
    }


    #arlaplus .project-description-box img {
      max-width: 380px;
    }

    .arla-info-container {
      margin-top: 156px;
    }

    .siamo-imgs {
      width: 100%;
    }

    .screens-container img {
      width: 100%;
    }

    .screens-container {
      margin: 40px 0;
    }

    .mobile-screens-container {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .intro-container p {
      width: 500px;
    }
  }